body {
    background: linear-gradient(90deg, rgb(231, 140, 140) 0%, rgb(192, 79, 79) 100%);
    font-family: Tahoma;
    overflow: hidden;
}

button {
    background-color: black;
    color: white;
    position: relative;
    z-index: 5;
    cursor: pointer;
    font-size: 25px;
}

button:hover {
    background-color: white;
    color: black;
}

main {
@@ -14,6 +29,35 @@ img {
    height: 35%;
}

.uliContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uli {
    width: 50%;
    height: 60%; 
    display: none;
    z-index: 6;
}

.blackContainer {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 7;
}

@keyframes grow {
    from {
        transform: scale(0);
@@ -31,4 +75,9 @@ img {
        width: 80%;
        height: 155px;
    }

    #uli {
        width: 30%;
        height: 30%; 
    }
}
